body{
    font-family: serif;
    border-radius: none;
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 5vh;
    background-color: rgb(128,62,0);
    position: fixed;
    z-index: 200;
}


header ul{
    list-style-type: none;
}

.tof{
    display: flex;
    animation-duration: 15s; 
    animation-name: myanimation;
    animation-iteration-count: infinite;
    height: 95vh;
    width: 100vw;
    margin-top: 5vh;

} 

@keyframes myanimation {
    0%{
        transform: translate(0);
    }
    10%{
        transform: translate(-600px);
    }
    20%{
        transform: translate(-1200px);
    }
    30%{
        transform: translate(-1800px);
    }
    40%{
        transform: translate(-2400px);
    }
    50%{
        transform: translate(-3000px);
    }
    60%{
        transform: translate(-3600px);
    }
    70%{
        transform: translate(-4200px);
    }
    80%{
        transform: translate(-4800px);
    }
    90%{
        transform: translate(-7880px);
    }
    100%{
        transform: translate(0px);
    }
    
} 


li a{
    color: #fff;
    text-decoration: none;
}

li a:hover{
    color: blue;
    opacity: 0.5;
}

#tof{
    width: 100vw;
    overflow: hidden;
}

#liste1{
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-end;
    padding-right: 5rem;
}

#about{
    height: 50vh;
    display: flex;
    flex-flow: nowrap column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(128,62,0) ;
}


form{
    width: 80vw;
}

#contact{
    height: 30vh; 
}

footer{
    background: rgb(128,62,0);
}

.bi{
    font-size: 5vh;
    margin: 0.5vw;
}

.bi-instagram{
    background-image:linear-gradient(to bottom right, #405DE6, #5851D8,#833AB4,#C13584,#E1306C, #FD1D1D, #F56040,#F77737, #FCAF45,#FFDC80,#fff);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 800px) {
    .info{
        font-size: 25px;
    }    
}